<div ngbDropdown >
  <div ngbDropdownToggle
       class="dropdown__main"
  >Search options</div>
  <div ngbDropdownMenu
       class="dropdown__list">
    <button
      ngbDropdownItem
      class="dropdown__list-element"
      routerLink="authors">Authors
    </button>
    <button
      ngbDropdownItem
      class="dropdown__list-element"
      routerLink="books">Books
    </button>
    <button
      ngbDropdownItem
      class="dropdown__list-element"
      routerLink="tags">Tags
    </button>
  </div>
</div>
