<div class="row justify-content-center add-quote-form__container">
<div class="col-6">
  <h1>Add new Quote!</h1>
  <form (ngSubmit) = "onSubmitForm()">
    <div class="form-group">
      <label for="author">Author of the quote</label>
      <input
        id="author"
        type="text"
        class="form-control"
        aria-describedby="authors name"
        name="author"
        placeholder="Author's name"
        [(ngModel)]="quote.author"
        [ngbTypeahead]="searchAuthor"
        (focus)="authorFocus$.next($event.target.value)"
        (click)="authorClick$.next($event.target.value)"
        #authorInstance="ngbTypeahead"
      />
    </div>
  <div class="form-group">
    <label for="content">Quote</label>
    <textarea
      class="form-control"
      rows="3"
      id="content"
      aria-describedby="Quotation"
      placeholder="Quotation"
      [(ngModel)]="quote.content"
      name="content"
    >
    </textarea>
  </div>
  <div class="form-group">
    <label for="bookName">Book/Newspaper title</label>
    <input
      id="bookName"
      type="text"
      class="form-control"
      aria-describedby="Book name"
      name="bookName"
      [(ngModel)]="quote.bookName"
      [ngbTypeahead]="searchBookName"
      (focus)="bookNameFocus$.next($event.target.value)"
      (click)="bookNameClick$.next($event.target.value)"
      #bookNameInstance="ngbTypeahead"
    />
  </div>
  <div class="form-group">
    <label for="pageNumber">Page number</label>
    <input type="text"
           class="form-control"
           id="pageNumber"
           aria-describedby="Page number"
           placeholder="Page number"
           [(ngModel)]="quote.pageNumber"
           name="pageNumber"
    >
  </div>
  <div class="form-group">
    <label for="publicationYear">Publication Year</label>
    <input type="text"
           class="form-control"
           id="publicationYear"
           aria-describedby="Year of publication"
           placeholder="Year of publication"
           [(ngModel)]="quote.publicationYear"
           name="publicationYear"
    >
  </div>
  <div class="form-group">
    <label for="editorName">Editor name</label>
    <input
      id="editorName"
      type="text"
      class="form-control"
      aria-describedby="Editor name"
      name="editorName"
      placeholder="Editor name"
      [(ngModel)]="quote.editorName"
      [ngbTypeahead]="searchEditorName"
      (focus)="editorNameFocus$.next($event.target.value)"
      (click)="editorNameClick$.next($event.target.value)"
      #editorNameInstance="ngbTypeahead"
    />
  </div>
  <div class="form-group">
    <label for="remarks">Remarks</label>
    <input type="text"
           class="form-control"
           id="remarks"
           aria-describedby="Additional remarks on the Quote"
           placeholder="Any additional remarks?"
           [(ngModel)]="quote.remarks"
           name="remarks"
    >
  </div>
    <app-chips-input></app-chips-input>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
<mat-form-field>
  <mat-label>Snack bar duration (seconds)</mat-label>
  <input type="number" matInput>
</mat-form-field>
