
<div class="quote-details card p-1">
  <div class="quote-details__side">
    <app-svg-icon icon="icon-book" class="quote-details__icon"></app-svg-icon>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-info" (click)="onGoBack()">Go back</button>
      <button type="button" class="btn btn-danger" (click)="onDeleteQuoteCard(quotation)">Delete Quote</button>
      <button type="button" class="btn btn-success" routerLink="update">Update</button>
    </div>
  </div>

  <div class="quote-details__body">
      <div class="quote-details__title">
        {{!quotation.author ? quotation.bookName : quotation.author}} quote details:
      </div>
      <ul class="quote-details__details-list list-group list-group-flush">
        <li class="quote-details__details-item list-group-item"
            [routerLink]="['/authors', quotation.author]">
          <span class="quote-details__details-item-label">Author:</span><br>
          <span class="quote-details__details-item-content author">{{quotation.author}}</span>
        </li>
        <li class="list-group-item">
          <span class="quote-details__details-item-label">Find in:</span><br>
          <span class="quote-details__details-item-content">{{quotation.bookName}}
            <ng-container *ngIf="quotation.pageNumber !== ''" >
              , s. {{quotation.pageNumber}}
            </ng-container>
          </span>
        </li>

        <li class="list-group-item">
          <span class="quote-details__details-item-label">Editor:</span><br>
          <span class="quote-details__details-item-content">{{quotation.editorName}}</span>
        </li>
        <li class="list-group-item">
          <span class="quote-details__details-item-label">Year of publication:</span><br>
          <span class="quote-details__details-item-content">{{quotation.publicationYear}}</span>
        </li>
        <li class="quote-details__details-item-label list-group-item">Tags: <span *ngFor="let tag of quotation.tags">{{tag}}, </span></li>

        <li class="list-group-item">
          <span class="quote-details__details-item-label">Quote:</span><br>
          <span class="quote-details__quotation">{{quotation.content}}</span>
        </li>
      </ul>
<!--    <div class="card-body">-->
<!--        <h5 class="card-title"></h5>-->
<!--        <ul class="list-group list-group-flush">-->
<!--          <li class="list-group-item" [routerLink]="['/authors', quotation.author]">Author: {{quotation.author}}</li>-->
<!--          <li class="list-group-item">Find in: {{quotation.bookName}}, s. {{quotation.pageNumber}}</li>-->
<!--          <li class="list-group-item">Editor: {{quotation.editorName}}</li>-->
<!--          <li class="list-group-item">Year of publication: {{quotation.publicationYear}}</li>-->
<!--          <li *ngFor="let tag of quotation.tags" class="list-group-item">{{tag}}</li>-->
<!--          <li class="list-group-item">{{quotation.content}}</li>-->
<!--        </ul>-->
<!--      </div>-->
  </div>
</div>

<!--<div class="row justify-content-center">-->
<!--  <div class="col-8">-->
<!--    <div class="card p-1" style="width: 80%">-->
<!--      <div class="row justify-content-center">-->
<!--        <button type="button" class="btn btn-info" (click)="onGoBack()">Go back</button>-->
<!--        <button type="button" class="btn btn-danger" (click)="onDeleteQuoteCard(quotation)">Delete Quote</button>-->
<!--        <button type="button" class="btn btn-success" routerLink="update">Update</button>-->
<!--      </div>-->

<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-2">-->
<!--    &lt;!&ndash;      <img src="..." class="card-img" alt="book image">&ndash;&gt;-->
<!--          <app-svg-icon icon="icon-book" class="icon"></app-svg-icon>-->
<!--        </div>-->
<!--        <div class="col-md-10">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">{{!quotation.author ? quotation.bookName : quotation.author}} quote details:</h5>-->
<!--            <ul class="list-group list-group-flush">-->
<!--              <li class="list-group-item" [routerLink]="['/authors', quotation.author]">Author: {{quotation.author}}</li>-->
<!--              <li class="list-group-item">Find in: {{quotation.bookName}}, s. {{quotation.pageNumber}}</li>-->
<!--              <li class="list-group-item">Editor: {{quotation.editorName}}</li>-->
<!--              <li class="list-group-item">Year of publication: {{quotation.publicationYear}}</li>-->
<!--              <li *ngFor="let tag of quotation.tags" class="list-group-item">{{tag}}</li>-->

<!--              <li class="list-group-item">{{quotation.content}}</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
