<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Fishky</a>

  <app-navbar-toggler></app-navbar-toggler>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"
          routerLinkActive="active"
          routerLink="quotes/all"
          (click)="onQuotationsClick()">
        <a class="nav-link" >Quotations</a>
      </li>
      <li class="nav-item"
          routerLinkActive="active"
          routerLink="quotes/all"
          (click)="onNewRandomQuotesSet()">
        <a class="nav-link" >Random 10 quotes</a>
      </li>
      <li class="nav-item"
          routerLink="dashboard"      >
        <a class="nav-link">Dashboard</a>
      </li>
      <app-navbar-dropdown></app-navbar-dropdown>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="admin">Add new quote</a></li>
    </ul>
  </div>
</nav>
