<nav>
  <ul class="navbar">
    <li><a
      class="navbar__element"
      routerLink="quotes/all"
      (click)="onQuotationsClick()">
      All Quotes</a></li>
    <li><a
      class="navbar__element"
      routerLink="quotes/all"
      (click)="onNewRandomQuotesSet()">
      Random 10 Quotes</a></li>
    <li>
      <a class="navbar__element">
        <app-navbar-dropdown></app-navbar-dropdown>
      </a>
    </li>
    <li><a
      class="navbar__element"
      routerLink="dashboard">
      Dashboard</a></li>
    <li><a
      class="navbar__element newQuote"
      routerLink="admin">
      Add New Quote</a></li>
  </ul>
</nav>
