<div class="row justify-content-center">
  <ngb-accordion
    *ngFor="let book of books | keyvalue; let i = index"
    [closeOthers]="true" activeIds="static-1" class="col-8">
    <ngb-panel id="static-{{i}}">
      <ng-template ngbPanelTitle>
        {{book.key ? book.key : 'Not attached to any title'}}
        <span
          class="badge badge-pill badge-primary">
              {{(book.value.length)}}
            </span>
      </ng-template>
      <ng-template ngbPanelContent >
        <ul *ngFor="let book of book.value">
          <li [routerLink]="['/quotes', book.id]">
            {{book.content}}
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
