//Color palette
$color-primary: rgb(49, 105, 187);
$color-secondary: rgb(1, 170, 192);
$color-bg-primary: rgb(245, 245, 245);
$color-bg-secondary: rgb(255, 255, 255);
$color-font-primary: rgb(35, 35, 35);;
$color-font-secondary: rgb(255, 255, 255);

