@import "../../shared/sass/variables";

.accordion {
  width: 50%;
  margin: 5em auto;

  &__label {
    text-decoration: none;
    text-underline: none;
    color: $color-font-primary;
    padding-right: .5em;
  }

  &__quote {

    &:hover {
      cursor: pointer;
    }
  }
}
