<div class="accordion">
<ngb-accordion class="accordionn"
    *ngFor="let item of object | keyvalue; let i = index"
    [closeOthers]="true"
    activeIds="static-1">
    <ngb-panel id="static-{{i}}">
      <ng-template
        ngbPanelTitle        >
        <span class="accordion__label">{{item.key ? item.key : 'Anonymous'}}</span>
        <span
          class="badge badge-pill badge-primary">
              {{(item.value.length)}}
            </span>
      </ng-template>
      <ng-template ngbPanelContent >
        <ul *ngFor="let element of item.value; let l = count">
          <li class="accordion__quote" [routerLink]="['/quotes', element.id]">
            {{element.content}}
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
