<ng-container
  *ngFor="let quote of quotes | quoteCardFilter:searchTerm; let i = index">
  <div class="quote-card card p-3" [routerLink]="[quote.id]">
    <blockquote
      class="blockquote mb-0 card-body">
      <p class="quote-card__content">{{quote.content}}</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <ng-container *ngIf="quote.author.length > 0">
          {{quote.author}}
          </ng-container>
          <ng-container *ngIf="quote.bookName.length > 0">
            in
            <cite title="Source Title">{{quote.bookName}}</cite>
          </ng-container>
        </small>
      </footer>
    </blockquote>
  </div>
</ng-container>
