<ng-container *ngFor="let quote of quotes; let i = index">
  <div class="card p-3" [routerLink]="[i]">
    <blockquote
      class="blockquote mb-0 card-body">
      <p>{{quote.content}}</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <ng-container *ngIf="quote.author.length > 0">
          {{quote.author}}
          </ng-container>
          <ng-container *ngIf="quote.bookName.length > 0">
            in
            <cite title="Source Title">{{quote.bookName}}</cite>
          </ng-container>
        </small>
      </footer>
    </blockquote>
  </div>
</ng-container>
