<div class="row justify-content-center">
  <div class="col-8">
    <div class="card p-1" style="width: 80%">
      <div class="row justify-content-center">
        <button type="button" class="btn btn-info" (click)="onGoBack()">Go back</button>
      </div>

      <div class="row no-gutters">
        <div class="col-md-2">
          <!--      <img src="..." class="card-img" alt="book image">-->
<!--          <app-svg-icon icon="icon-book" class="icon"></app-svg-icon>-->
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">{{authorDetails.author}} details:</h5>
            <p>{{wikiData}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
